html,
body{
    margin: 0;
    border: none;
    padding: 0;
    font-family: sans-serif;
    background-color: #fff;
}
body{
    font-size: 1.1em;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    
}
a,
a:visited,
a:link{
    color: inherit;
    text-decoration-line: inherit;
    cursor: pointer;
}
a:active,
a:hover{
    text-decoration-line: underline;
}
header,
footer{
    flex: 0 0 auto;
    background-color: #78909C;
    color: #fff;
    /*text-shadow: 3px 3px 4px #FF6E40;*/
}
header{
    font-size: 3.2em;
    padding: 3% 5% 2% 5%;
}
header > a:active,
header > a:hover{
    text-decoration-line: none;
}
footer{
    padding: 20px 5%;
    font-size: 1.1em;
}
footer > ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
main{
    padding: 20px 5%;
    flex: 1 1 auto;
    max-width: 1800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
main > section{
    display:  block;
    min-width: 500px;
    max-width: 30vw;
    min-height: 20vh;
    font-size: 2em;
    color: #37474F;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 1vw 1vw 1vw 0;
    border-radius: 5px;
    display: flex;
}
main > section:nth-child(7n+0){background: linear-gradient(150deg, #FFCDD2 -25%, #fff 75%);}
main > section:nth-child(7n+1){background: linear-gradient(150deg, #FFCCBC -25%, #fff 75%);}
main > section:nth-child(7n+2){background: linear-gradient(150deg, #BBDEFB -25%, #fff 75%);}
main > section:nth-child(7n+3){background: linear-gradient(150deg, #B2EBF2 -25%, #fff 75%);}
main > section:nth-child(7n+4){background: linear-gradient(150deg, #F0F4C3 -25%, #fff 75%);}
main > section:nth-child(7n+5){background: linear-gradient(150deg, #FFE0B2 -25%, #fff 75%);}
main > section:nth-child(7n+6){background: linear-gradient(150deg, #D7CCC8 -25%, #fff 75%);}


main > section > a{
    display: block;
    box-sizing: border-box;
    padding: 2vh 1vw;
    flex: 1 1 auto;
}
