/* variable definition */
:root{
    --layout-background-color: #212121;
    --layout-font-color: #fff;
    --ssh-text-color: #00a7b6;
    --code-color: var(--ssh-text-color);

    --main-max-width: 1000px;
}

/* general settings */
a,
a:link,
a:visited{
    text-decoration: inherit;
    color: inherit;
}
a:hover,
a:active{
    text-decoration: underline;
}

p{
    line-height: 1.5;
    margin: 20px 5%;
}

code{
    font-family: monospace;
    color: var(--code-color);
}

/* document structure */
html,
body{
    margin: 0;
    border: none;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.1rem;
    min-width: 550px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
body > *{
    flex: 0 0 auto;
    display: block;
    padding: 10px 5%;
    font-family: sans-serif;
}


/* Header */
header{
    font-family: monospace;
    font-size: 1.5rem;
    background-color: var(--layout-background-color);
    color: var(--layout-font-color);
    padding: 2% 5%;
}
header h1{
    color: #fff;
}
header .ssh{
    color: var(--ssh-text-color);
}


/* Footer */
footer{
    font-family: monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--layout-background-color);
    color: var(--layout-font-color);
}
footer > p{
    margin: 20px 10px;
}
body > footer > p:first-child{
    margin-left: 0;
}
body > footer > p:last-child{
    margin-right: 0;
}


/* main content */
main{
    flex: 1 1 auto;
    font-family: sans-serif;
    max-width: var(--main-max-width);
}
main .ssh{
    font-family: monospace;
}
main h1{
    color: #212121;
    font-size: 2rem;
}
main h2{
    color: #616161;
    margin-left: 5%;
    margin-right: 5%;
}


/* Contents */
main ul{
    display: block;
    list-style-type: "→ ";
    margin: 0 5%;
    padding: 0;
    font-size: 1.2rem;
}
main li{
    margin: 0.7rem 0;
}

main article ul{
    margin: 0 10%;
    font-size: inherit;
}

main p.codeblock{
    margin: 20px 0 20px 10%;
}